@mixin responsive() {
  @media (max-width: 960px) {
    @content;
  }
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 120%;

  z-index: -1;
  overflow: hidden;

  display: flex;

  justify-content: center;
  align-items: center;

  &::after {
    content: '';

    width: 100%;
    height: 120%;

    position: absolute;
    top: 0;
    left: 0;
    display: block;

    background: linear-gradient(
      110deg,
      $blue-dark 25%,
      rgba(11, 12, 16, 0.8) 50%,
      $blue-dark 70%
    );
  }
}

.video {
  height: 120%;
}

.background-lines {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  width: 100%;
  height: 120vh;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  > svg {
    width: 100%;
    border: 0px solid green;

    @include responsive() {
      height: 200%;
      border: 0px solid red;
    }
  }
}

.container {
  max-width: 1290px;

  margin: 0 auto;
  padding: 38px 16px;

  height: 100vh;

  display: flex;
  flex-direction: row;
  align-items: center;

  overflow: none;

  @include responsive() {
    flex-direction: column;
    align-items: flex-start;

    height: 100vh;
    overflow: hidden;
  }
}

.container-item-1 {
  max-width: 580px;

  @include responsive() {
    max-width: 960px;
    order: 2;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container-item-2 {
  flex-grow: 5;
}

.logos {
  width: auto;

  display: flex;

  justify-content: center;
  align-items: center;
}

.burger-menu {
  width: 40px;
  height: 40px;

  display: none;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    display: block;

    position: absolute;
    top: 33%;
    left: 12%;

    width: 75%;
    height: 2px;
    border-radius: 2px;

    background-color: $white;
  }

  &::before {
    content: '';
    display: block;

    position: absolute;
    top: 57%;
    left: 12%;

    width: 75%;
    height: 2px;
    border-radius: 2px;

    background-color: $white;
  }

  @include responsive() {
    display: block;
  }
}

.spiderman {
  width: 130%;
  transition: 0.7s ease;
  transform: translate3d(-165px, -50px, 0);

  @include responsive() {
    width: 100%;
    transform: translate3d(0, 0, 0);
  }
}

.flex {
  display: flex;
}

.button {
  display: inline-block;
  background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);
  border-radius: 3px;

  padding: 12px 32px;
  text-transform: uppercase;

  transform: skewX(-10deg);
  transition: 0.7s ease;

  position: relative;

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -2px;
    left: -2px;

    border-radius: 3px;
    opacity: 0;

    width: 20%;
    height: 70%;
    z-index: -1;

    border-top: 3px solid $white;
    border-left: 3px solid $white;

    transition: 0.7s ease;
  }

  &::before {
    content: '';
    position: absolute;
    display: block;
    bottom: -2px;
    right: -2px;

    border-radius: 3px;
    opacity: 0;

    width: 20%;
    height: 70%;
    z-index: -1;

    border-bottom: 3px solid $white;
    border-right: 3px solid $white;

    transition: 0.7s ease;
  }

  &:hover {
    box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06),
      0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989),
      0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774),
      0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226),
      0px 0.480885px 2.91966px rgba(240, 42, 47, 0.0186011);

    transform: scale(1.05) skewX(-10deg);

    &::after {
      opacity: 1;
      top: -2px;
      left: -2px;
    }
    &::before {
      opacity: 1;
      bottom: -2px;
      right: -2px;
    }
  }
}

.button-secondary {
  display: inline-block;
  background: transparent;
  border-radius: 3px;
  border: 2px solid $red;

  padding: 10px 32px;
  text-transform: uppercase;

  transform: skewX(-10deg);
  transition: 0.7s ease;

  overflow: hidden;
  z-index: 700;

  position: relative;

  @include responsive() {
    display: none;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: -5px;

    background: linear-gradient(267.72deg, $red-light 0.88%, $red 100%);
    border-radius: 3px;

    width: 0%;
    height: 110%;
    z-index: -1;

    transition: 0.7s ease;
  }

  &:hover {
    box-shadow: 0px 14px 85px rgba(240, 42, 47, 0.06),
      0px 5.11023px 31.0264px rgba(240, 42, 47, 0.0413989),
      0px 2.48092px 15.0627px rgba(240, 42, 47, 0.0333774),
      0px 1.21619px 7.38404px rgba(240, 42, 47, 0.0266226),
      0px 0.480885px 2.91966px rgba(240, 42, 47, 0.0186011);

    transform: scale(1.05) skewX(-10deg);

    &::after {
      opacity: 1;
      width: 120%;
    }
  }
}

.initial-loading {
  width: 100%;
  height: 120vh;

  position: absolute;
  top: 0;
  left: 0;

  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(225deg, $red 0%, $red-dark 100%);

  overflow: hidden;
}
